.swiper {
  overflow-x: hidden;
  overflow-y: visible;
  width: 100%;
  height: 300px;
  .swiper-wrapper {
    height: max-content;
  }
}
/* .swiper-pagination {
  bottom: 15% !important;
} */

.swiper-pagination-bullet {
  background-color: #00ff5e !important;
}
