@import "tailwindcss";

@theme {
  --breakpoint-xs: 375px;
}

@font-face {
  font-family: "LilitaOne";
  font-style: normal;
  font-weight: 400;
  src: url("/Fonts/LilitaOne-Regular.ttf") format("truetype");
  font-display: swap;
}

.lilita {
  font-family: "LilitaOne", sans-serif;
}

@font-face {
  font-family: "Merienda";
  font-style: normal;
  src: url("/Fonts/Merienda-VariableFont_wght.ttf") format("truetype");
  font-display: swap;
}

.merienda {
  font-family: "Merienda", sans-serif;
}

@font-face {
  font-family: "Poppins-black";
  font-style: normal;
  font-weight: 900;
  src: url("/Fonts/Poppins-Black.ttf") format("truetype");
  font-display: swap;
}

.poppins-black {
  font-family: "Poppins-black", sans-serif;
}

@font-face {
  font-family: "Poppins-bold";
  font-style: normal;
  font-weight: 700;
  src: url("/Fonts/Poppins-Bold.ttf") format("truetype");
  font-display: swap;
}

.poppins-bold {
  font-family: "Poppins-bold", sans-serif;
}

@font-face {
  font-family: "Poppins-ExtraBold";
  font-style: normal;
  font-weight: 800;
  src: url("/Fonts/Poppins-ExtraBold.ttf") format("truetype");
  font-display: swap;
}

.poppins-extrabold {
  font-family: "Poppins-ExtraBold", sans-serif;
}

@font-face {
  font-family: Poppins-ExtraLight;
  font-style: normal;
  font-weight: 200;
  src: url("/Fonts/Poppins-ExtraLight.ttf") format("truetype");
  font-display: swap;
}

.poppins-extralight {
  font-family: "Poppins-ExtraLight", sans-serif;
}

@font-face {
  font-family: "Poppins-light";
  font-style: normal;
  font-weight: 300;
  src: url("/Fonts/Poppins-Light.ttf") format("truetype");
  font-display: swap;
}

.poppins-light {
  font-family: "Poppins-light", sans-serif;
}

@font-face {
  font-family: "Poppins-medium";
  font-style: normal;
  font-weight: 500;
  src: url("/Fonts/Poppins-Medium.ttf") format("truetype");
  font-display: swap;
}

.poppins-medium {
  font-family: "Poppins-medium", sans-serif;
}

@font-face {
  font-family: "Poppins-regular";
  font-style: normal;
  font-weight: 400;
  src: url("/Fonts/Poppins-Regular.ttf") format("truetype");
  font-display: swap;
}

.poppins-regular {
  font-family: "Poppins-regular", sans-serif;
}

@font-face {
  font-family: "Poppins-semibold";
  font-style: normal;
  font-weight: 600;
  src: url("/Fonts/Poppins-SemiBold.ttf") format("truetype");
  font-display: swap;
}

.poppins-semibold {
  font-family: "Poppins-semibold", sans-serif;
}

@font-face {
  font-family: "Poppins-thin";
  font-style: normal;
  font-weight: 100;
  src: url("/Fonts/Poppins-Thin.ttf") format("truetype");
  font-display: swap;
}

.poppins-thin {
  font-family: "Poppins-thin", sans-serif;
}

@font-face {
  font-family: "Roboto-black";
  font-style: normal;
  font-weight: 900;
  src: url("/Fonts/Roboto-Black.ttf") format("truetype");
  font-display: swap;
}

.roboto-black {
  font-family: "Roboto-black", sans-serif;
}

@font-face {
  font-family: "Roboto-bold";
  font-style: normal;
  font-weight: 700;
  src: url("/Fonts/Roboto-Bold.ttf") format("truetype");
  font-display: swap;
}

.roboto-bold {
  font-family: "Roboto-bold", sans-serif;
}

@font-face {
  font-family: "Roboto-light";
  font-style: normal;
  font-weight: 300;
  src: url("/Fonts/Roboto-Light.ttf") format("truetype");
  font-display: swap;
}

.roboto-light {
  font-family: "Roboto-light", sans-serif;
}

@font-face {
  font-family: "Roboto-medium";
  font-style: normal;
  font-weight: 500;
  src: url("/Fonts/Roboto-Medium.ttf") format("truetype");
  font-display: swap;
}

.roboto-medium {
  font-family: "Roboto-medium", sans-serif;
}

@font-face {
  font-family: "Roboto-regular";
  font-style: normal;
  font-weight: 400;
  src: url("/Fonts/Roboto-Regular.ttf") format("truetype");
  font-display: swap;
}

.roboto-regular {
  font-family: "Roboto-regular", sans-serif;
}

@font-face {
  font-family: "Roboto-thin";
  font-style: normal;
  font-weight: 100;
  src: url("/Fonts/Roboto-Thin.ttf") format("truetype");
  font-display: swap;
}

.roboto-thin {
  font-family: "Roboto-thin", sans-serif;
}

@font-face {
  font-family: "RobotoSlab";
  font-style: normal;
  src: url("/Fonts/RobotoSlab-VariableFont_wght.ttf") format("truetype");
  font-display: swap;
}

.roboto-slab {
  font-family: "RobotoSlab", sans-serif;
}

/* User Select */
* {
  user-select: none;
}

/* Custom scrollbar for dark neon theme */
::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}

::-webkit-scrollbar-track {
  background-color: rgb(0, 44, 2); /* subtle neon green tint */
  box-shadow: inset 0 0 6px rgba(0, 255, 94, 0.1);
  overflow: hidden;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb {
  background: rgb(0, 255, 94);
  background: -webkit-linear-gradient(to right, #009b39, #00ff5e);
  background: linear-gradient(to right, #009b39, #00ff5e);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: -webkit-linear-gradient(to right, #009b39, #00ff5e);
  background: linear-gradient(to right, #009b39, #00ff5e);
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

/* Body */

body {
  background-color: #081613;
}

/* Animations Wave */
@keyframes waveAnimation {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-6px);
  }
}

/* Social Links Styling */

.instagram:hover {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  transform: translate(0, -5px) rotate(10deg);
}
.instagram:active {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  box-shadow: none;
  transform: scale(0.9);
}

.github:hover {
  background: radial-gradient(ellipse at center, #000000, #020617, #1e293b);
  transform: translate(0, -5px) rotate(10deg);
}
.github:active {
  background: radial-gradient(ellipse at center, #000000, #020617, #1e293b);
  box-shadow: none;
  transform: scale(0.9);
}

.linkedIn:hover {
  background: radial-gradient(
    circle at 30% 107%,
    #0077b5 0%,
    #0077b5 5%,
    #0096c7 45%,
    #00b4d8 60%,
    #1da1f2 90%
  );
  transform: translate(0, -5px) rotate(10deg);
}
.linkedIn:active {
  background: radial-gradient(
    circle at 30% 107%,
    #0077b5 0%,
    #0077b5 5%,
    #0096c7 45%,
    #00b4d8 60%,
    #1da1f2 90%
  );
  box-shadow: none;
  transform: scale(0.9);
}

.whatsapp:hover {
  background: radial-gradient(
    circle at 30% 107%,
    #25d366 0%,
    #25d366 5%,
    #128c7e 45%,
    #075e54 60%,
    #128c7e 90%
  );
  transform: translate(0, -5px) rotate(10deg);
}
.whatsapp:active {
  background: radial-gradient(
    circle at 30% 107%,
    #25d366 0%,
    #25d366 5%,
    #128c7e 45%,
    #075e54 60%,
    #128c7e 90%
  );
  box-shadow: none;
  transform: scale(0.9);
}
/* End of Social Links */

/* After Line */
/* .afterLine {
  position: relative;
}
.afterLine::after {
  content: " ";
  position: absolute;
  width: 80%;
  height: 2px;
  background: linear-gradient(
    to right,
    rgb(51, 255, 0),
    rgb(13, 109, 0),
    rgb(10, 87, 0),
    rgb(5, 39, 0),
    rgba(5, 39, 0, 0),
    rgba(5, 39, 0, 0)
  );
  bottom: 40%;
  top: 60%;
  right: 0;
  left: 150%;
  transform: translateX(-50%);
} */

/* After Line 2 */
/* .afterLine2 {
  position: relative;
}
.afterLine2::after {
  content: " ";
  position: absolute;
  width: 100%;
  height: 2px;
  background: linear-gradient(
    to right,
    rgb(51, 255, 0),
    rgb(13, 109, 0),
    rgb(10, 87, 0),
    rgb(5, 39, 0),
    rgba(5, 39, 0, 0),
    rgba(5, 39, 0, 0)
  );
  bottom: 40%;
  top: 60%;
  right: 0;
  left: 170%;
  transform: translateX(-50%);
} */

/* Extra Info Styling */

/* Phone */
.phoneDiv {
  transition: all 0.3s ease;
  svg {
    transition: all 0.3s ease;
  }
}

.phone:hover {
  .phoneDiv {
    background: #00ff5e;
    svg {
      fill: #053a00ff;
    }
  }
}

.phoneInfo {
  h6,
  a {
    transition: all 0.3s ease;
  }
}

.phoneInfo:has(a:hover) h6 {
  color: white;
}

.phoneInfo a:hover {
  color: white;
}

/* Email */
.emailDiv {
  transition: all 0.3s ease;
  svg {
    transition: all 0.3s ease;
  }
}

.email:hover {
  .emailDiv {
    background: #00ff5e;
    svg {
      fill: #053a00ff;
    }
  }
}

.emailInfo {
  h6,
  a {
    transition: all 0.3s ease;
  }
}

.emailInfo:has(a:hover) h6 {
  color: white;
}

.emailInfo a:hover {
  color: white;
}

/* Location */
.locationDiv {
  transition: all 0.3s ease;
  svg {
    transition: all 0.3s ease;
  }
}

.location:hover {
  .locationDiv {
    background: #00ff5e;
    svg {
      fill: #053a00ff;
    }
  }
}

.locationInfo {
  h6,
  a {
    transition: all 0.3s ease;
  }
}

.locationInfo:has(a:hover) h6 {
  color: white;
}

.locationInfo a:hover {
  color: white;
}

/* Birthday */
.birthdayDiv {
  transition: all 0.3s ease;
  svg {
    transition: all 0.3s ease;
  }
}

.birthday:hover {
  .birthdayDiv {
    background: #00ff5e;
    svg {
      fill: #053a00ff;
    }
  }
}

.birthdayInfo {
  h6,
  p {
    transition: all 0.3s ease;
  }
}

.birthdayInfo:has(p:hover) h6 {
  color: white;
}

.birthdayInfo p:hover {
  cursor: pointer;
  color: white;
}

/* Web Development */
.webDev {
  border-radius: 50% 50% 50% 50% / 20% 20% 80% 80%;
  transition: all 0.3s ease;
}

#webDevCard {
  transition: all 0.3s ease;
}

#webDevCard:hover {
  transform: scale(1.01);
  box-shadow: 5px 5px 3px rgba(0, 255, 94, 0.5);
  .webDev {
    border-radius: 50% 50% 50% 50% / 80% 80% 20% 20%;
    background-color: #00ff5e;
    svg {
      fill: #053a00ff;
      transition: all 0.3s ease;
    }
  }
}

/* Discord */

.manageDiscord {
  border-radius: 50% 50% 50% 50% / 80% 80% 20% 20%;
  transition: all 0.3s ease;
}

#manageDiscordCard {
  transition: all 0.3s ease;
}

#manageDiscordCard:hover {
  transform: scale(1.01);
  box-shadow: 5px 5px 3px #00ff5e80;
  .manageDiscord {
    border-radius: 50% 50% 50% 50% / 20% 20% 80% 80%;
    background-color: #00ff5e;
    svg {
      fill: #053a00ff;
      transition: all 0.3s ease;
    }
  }
}

/* Image Editing */

.imageEditing {
  border-radius: 65% 35% 65% 35% / 35% 65% 35% 65%;
  transition: all 0.3s ease;
}

#imageEditingCard {
  transition: all 0.3s ease;
}

#imageEditingCard:hover {
  transform: scale(1.01);
  box-shadow: 5px 5px 3px rgba(0, 255, 94, 0.5);
  .imageEditing {
    border-radius: 34% 66% 35% 65% / 65% 36% 64% 35%;
    background-color: #00ff5e;
    svg {
      fill: #053a00ff;
      transition: all 0.3s ease;
    }
  }
}

/* Video Games */

.videoGames {
  border-radius: 65% 35% 65% 35% / 35% 65% 35% 65%;
  transition: all 0.3s ease;
}

#videoGamesCard {
  transition: all 0.3s ease;
}

#videoGamesCard:hover {
  transform: scale(1.01);
  box-shadow: 5px 5px 3px rgba(0, 255, 94, 0.5);
  .videoGames {
    border-radius: 34% 66% 35% 65% / 65% 36% 64% 35%;
    background-color: #00ff5e;
    svg {
      fill: #053a00ff;
      transition: all 0.3s ease;
    }
  }
}
